<?xml version="1.0"?>
<launch>
  <!-- this launch file corresponds to robot model in ros-pkg/robot_descriptions/pr2/erratic_defs/robots for full erratic -->

  <param name="/use_sim_time" value="true" />

  <!-- start up wg world -->
  <include file="$(find xiaoche)/launch/exam_world_20201204_world.launch"/>

  <arg name="model" />
  <param name="robot_description" command="xacro --inorder '$(find xiaoche)/urdf/xiaoche.xacro'" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 
  <!-- start robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -x 20 -y 0 -z 0.1 -model robot_model" respawn="false" output="screen" />

 <node name="rviz" pkg="rviz" type="rviz" args="-d $(find xiaoche)/launch/mapping.rviz"/>
  <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping">
    <remap from="scan" to="/robot/laser/scan"/>
    <param name="base_frame" value="xiaoche"/>
  </node>
</launch>

